/*
Theme Name:   WP Realizer
Theme URI:    https://wprealizer.com
Author:       WP Realizer
Author URI:   https://wprealizer.com/
Description:  WpRealizer is the a wordpress theme for your WooCommerce store.
Version:      1.0.0
Tested up to: 5.6.0
Requires PHP: 5.6.0
License:      GNU General Public License v2 or later
License URI:  https://www.gnu.org/licenses/gpl-2.0.html
Text Domain:  wprealizer
Tags:         e-commerce, custom-background, custom-colors, custom-header, custom-menu, featured-images, full-width-template, full-width-columns, two-columns, three-columns, left-sidebar, right-sidebar, rtl-language-support, footer-widgets, theme-options, editor-style
*/

body{
    margin: 0px;
    background-color: #fff;
}
body, button, input, select, textarea {
    font-family: Source Sans Pro,HelveticaNeue-Light,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
}
.alpha, .beta, .delta, .gamma {
    display: block;
}
a{
    text-decoration: none;
}
img {
width: 100%;
height: auto;
}
 /html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}
body {
	margin: 0
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
	display: block
}
audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline
}
audio:not([controls]) {
	display: none;
	height: 0
}
[hidden],
template {
	display: none
}
a {
	background-color: rgba(0, 0, 0, 0)
}
a:active,
a:hover {
	outline: 0
}
abbr[title] {
	border-bottom: 1px dotted
}
b,
strong {
	font-weight: 700
}
dfn {
	font-style: italic
}
h1 {
	font-size: 2em;
	margin: .67em 0
}
mark {
	background: #ff0;
	color: #000
}
small {
	font-size: 80%
}
sup {
	top: -.5em
}
sub {
	bottom: -.25em
}
img {
	border: 0
}
svg:not(:root) {
	overflow: hidden
}
figure {
	margin: 1em 40px
}
hr {
	box-sizing: content-box;
	height: 0
}
code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em
}
button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0
}
button {
	overflow: visible
}
button,
select {
	text-transform: none
}
button,
html input[type=button],
input[type=reset],
input[type=submit] {
	-webkit-appearance: button;
	cursor: pointer
}  
body {
	-ms-word-wrap: break-word;
	word-wrap: break-word
}
body,
button,
input,
textarea {
	color: #43454b;
	line-height: 1.618;
	text-rendering: optimizeLegibility;
	font-weight: 400
}
body,
button,
input,
select,
textarea {
	font-family: Source Sans Pro, HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif
}
select {
	color: initial;
	max-width: 100%
}
h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	font-weight: 300;
	margin: 0 0 .5407911001em;
	color: #131315
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	font-weight: 300
}