/* General area */
.col-full {
    max-width: 66.4989378333em;
    margin-left: auto;
    margin-right: auto;
    padding: 0 2.617924em;
    box-sizing: content-box;
}
.col-full:after, .col-full:before {
    content: "";
    display: table;
}
.clear:after, .clear:before, .comment-content:after, .comment-content:before, .entry-content:after, .entry-content:before, .site-content:after, .site-content:before, .site-footer:after, .site-footer:before, .site-header:after, .site-header:before {
    content: "";
    display: table;
}
.clear:after, .comment-content:after, .entry-content:after, .site-content:after, .site-footer:after, .site-header:after {
    clear: both;
}
.content-area, .widget-area {
    margin-bottom: 2.617924em;
}
.wprealizer-full-width-content .content-area {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
}

/* Header area */
.site-header {
    padding-top: 1.618em;
    padding-bottom: 1.618em;
    color: #9aa0a7;
    background-position: 50%;
    position: relative;
    z-index: 999;
    border-bottom: 1px solid #f0f0f0;
}
.site-header {
    padding-top: 2.617924em;
    padding-bottom: 0;
}
.home.blog .site-header, .home.page:not(.page-template-template-homepage) .site-header, .home.post-type-archive-product .site-header {
    margin-bottom: 4.235801032em;
}
.wprealizer-primary-navigation {
    clear: both;
}

/* Footer area */
.footer-widgets {
    padding-top: 4.235801032em;
    border-bottom: 1px solid rgba(0,0,0,.05);
}
.footer-widgets:after, .footer-widgets:before {
    content: "";
    display: table;
}
.footer-widgets:after {
    clear: both;
}
.footer-widgets.col-4 .block.footer-widget-4 {
    float: right;
    margin-right: 0;
}
.site-footer {
    background-color: #f3f3f3;
    color: #3b3c3f;
    padding: 1.618em 0 3.706325903em;
}
.site-footer {
    background-color: #f0f0f0;
    color: #6d6d6d;
}
.footer-widgets.col-4 .block {
    width: 21.7391304348%;
    float: left;
    margin-right: 4.347826087%;
}
.widget {
    margin: 0 0 3.706325903em;
}
.widget .widget-title, .widget .widgettitle {
    font-size: 1.41575em;
    letter-spacing: 0;
    border-bottom: 1px solid rgba(0,0,0,.05);
    padding: 0 0 1em;
    margin-bottom: 1em;
    font-weight: 300;
}

/* navigation-bar */
h1 {
	font-size: 2.617924em;
	line-height: 1.214;
	letter-spacing: -1px
}
.beta,
h2 {
	font-size: 2em;
	line-height: 1.214
}
.beta+h3,
h2+h3 {
	border-top: 1px solid rgba(0, 0, 0, .05);
	padding-top: .5407911001em
}
.gamma,
h3 {
	font-size: 1.618em
}
.delta,
h4 {
	font-size: 1.41575em
}
.alpha,
.beta,
.delta,
.gamma {
	display: block
}
blockquote+h2,
blockquote+h3,
blockquote+h4,
blockquote+header h2,
form+h2,
form+h3,
form+h4,
form+header h2,
ol+h2,
ol+h3,
ol+h4,
ol+header h2,
p+h2,
p+h3,
p+h4,
p+header h2,
table+h2,
table+h3,
table+h4,
table+header h2,
ul+h2,
ul+h3,
ul+h4,
ul+header h2 {
	margin-top: 2.2906835em
}
hr {
	background-color: #ccc;
	border: 0;
	height: 1px
}
hr,
p {
	margin: 0 0 1.41575em
}
ol,
ul {
	margin: 0 0 1.41575em 3em;
	padding: 0
}
ul {
	list-style: disc
}
ol {
	list-style: decimal
}
li>ol,
li>ul {
	margin-bottom: 0;
	margin-left: 1em
}
dt {
	font-weight: 600
}
dd {
	margin: 0 0 1.618em
}
b,
strong {
	font-weight: 600
}
blockquote,
cite,
dfn,
em,
i {
	font-style: italic
}
blockquote {
	padding: 0 1em;
	border-left: 3px solid rgba(0, 0, 0, .05)
}
address {
	margin: 0 0 1.41575em
}
pre {
	background: rgba(0, 0, 0, .1);
	font-family: Courier\ 10 Pitch, Courier, monospace;
	margin-bottom: 1.618em;
	padding: 1.618em;
	overflow: auto;
	max-width: 100%
}
code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, Andale Mono, DejaVu Sans Mono, monospace;
	background-color: rgba(0, 0, 0, .05);
	padding: .202em .5407911001em
}
abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help
}
ins,
mark {
	text-decoration: none;
	font-weight: 600;
	background: rgba(0, 0, 0, 0)
}
sub,
sup {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}
sup {
	bottom: 1ex
}
sub {
	top: .5ex
}
small {
	font-size: 75%
}
big {
	font-size: 125%
}
figure {
	margin: 0
}
img {
	height: auto;
	max-width: 100%;
	display: block;
	border-radius: 3px
}
a {
	color: #2c2d33;
	text-decoration: none
}
a:focus,
button:focus,
input:focus,
textarea:focus {
	outline: 2px solid #96588a
}
.wprealizer-cute * {
	font-family: Comic Sans MS, sans-serif
}
* {
	box-sizing: border-box
}
body {
	background-color: #fff
}
.site,
body {
	overflow-x: hidden
}
.header-widget-region,
.site-content {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}
.site-header {
	/* background-color: #2c2d33; */
	padding-top: 1.618em;
	padding-bottom: 1.618em;
	color: #9aa0a7;
	background-position: 50%;
	position: relative;
	z-index: 999;
	border-bottom: 1px solid rgba(0, 0, 0, 0)
}
.site-header .custom-logo-link,
.site-header .site-logo-anchor,
.site-header .site-logo-link {
	display: block;
	margin-bottom: 0
}
.site-header .custom-logo-link img,
.site-header .site-logo-anchor img,
.site-header .site-logo-link img {
	width: 100%;
	max-width: 210px
}
.site-header .widget {
	margin-bottom: 0
}
.home.blog .site-header,
.home.page:not(.page-template-template-homepage) .site-header,
.home.post-type-archive-product .site-header {
	margin-bottom: 4.235801032em
}
.no-wc-breadcrumb .site-header {
	margin-bottom: 4.235801032em
}
.no-wc-breadcrumb.page-template-template-homepage .site-header {
	margin-bottom: 0
}
.header-widget-region {
	position: relative;
	z-index: 99
}
.header-widget-region:after,
.header-widget-region:before {
	content: "";
	display: table
}
.header-widget-region:after {
	clear: both
}
.header-widget-region .widget {
	margin: 0;
	padding: 1em 0;
	font-size: .875em
}
.site-branding {
	float: left;
	margin-bottom: 0;
	width: -webkit-calc(100% - 120px);
	width: calc(100% - 120px)
}
.site-branding .site-title {
	font-size: 2em;
	letter-spacing: -1px;
	margin: 0
}
.site-branding .site-title a {
	font-weight: 700
}
.site-branding .site-description {
	font-size: .875em;
	display: none
}
.site-branding .logo {
	margin: 0
}
.site-main {
	margin-bottom: 2.617924em
}
.site-content {
	outline: none
}
.page-template-template-homepage:not(.has-post-thumbnail) .site-main {
	padding-top: 4.235801032em
}
.page-template-template-homepage .type-page {
	padding-top: 2.617924em;
	padding-bottom: 2.617924em;
	position: relative
}
.page-template-template-homepage .type-page .wprealizer-hero__button-edit {
	position: absolute;
	top: 1em;
	right: 1em;
	font-size: .875em
}
.page-template-template-homepage .entry-content {
	font-size: 1.1em
}
.page-template-template-homepage .entry-content p:last-child {
	margin-bottom: 0
}
.page-template-template-homepage .entry-header h1 {
	font-size: 3.706325903em;
	margin-bottom: .2360828548em
}
.page-template-template-homepage .entry-content,
.page-template-template-homepage .entry-header {
	max-width: 41.0994671405em;
	margin-left: auto;
	margin-right: auto;
	text-align: center
}
.page-template-template-homepage.has-post-thumbnail .type-page.has-post-thumbnail {
	background-size: cover;
	background-position: 50%;
	padding-top: 6.8535260698em;
	padding-bottom: 6.8535260698em
}
.page-template-template-homepage.has-post-thumbnail .type-page.has-post-thumbnail .entry-content,
.page-template-template-homepage.has-post-thumbnail .type-page.has-post-thumbnail .entry-title {
	opacity: 0;
	-webkit-transition: all, ease, .5s;
	transition: all, ease, .5s
}
.page-template-template-homepage.has-post-thumbnail .type-page.has-post-thumbnail .entry-content.loaded,
.page-template-template-homepage.has-post-thumbnail .type-page.has-post-thumbnail .entry-title.loaded {
	opacity: 1
}
.site-footer {
	background-color: #f3f3f3;
	color: #3b3c3f;
	padding: 1.618em 0 3.706325903em
}
.site-footer h1,
.site-footer h2,
.site-footer h3,
.site-footer h4,
.site-footer h5,
.site-footer h6 {
	color: #333437
}
.site-footer a {
	color: #2c2d33;
	text-decoration: underline
}
.site-footer a:hover {
	text-decoration: none
}
.site-footer a.button,
.site-footer a.components-button:not(.is-link),
.site-footer a.wp-block-button__link {
	text-decoration: none
}
.site-info {
	padding: 2.617924em 0
}
.site-info span[role=separator] {
	padding: 0 .2360828548em 0 .3342343017em
}
.site-info span[role=separator]:before {
	content: "\007c"
}

.secondary-navigation {
	display: none
}
button.menu-toggle {
	cursor: pointer;
	text-align: left;
	float: right;
	position: relative;
	border: 2px solid rgba(0, 0, 0, 0);
	box-shadow: none;
	border-radius: 2px;
	padding: .6180469716em .875em .6180469716em 2.617924em;
	font-size: .875em;
	max-width: 120px
}
button.menu-toggle,
button.menu-toggle:hover {
	background-image: none
}
button.menu-toggle span:before {
	-webkit-transition: all, ease, .2s;
	transition: all, ease, .2s
}
button.menu-toggle:after,
button.menu-toggle:before,
button.menu-toggle span:before {
	content: "";
	display: block;
	height: 2px;
	width: 14px;
	position: absolute;
	top: 50%;
	left: 1em;
	margin-top: -1px;
	-webkit-transition: all, ease, .2s;
	transition: all, ease, .2s;
	border-radius: 3px
}
button.menu-toggle:before {
	-webkit-transform: translateY(-4px);
	-ms-transform: translateY(-4px);
	transform: translateY(-4px)
}
button.menu-toggle:after {
	-webkit-transform: translateY(4px);
	-ms-transform: translateY(4px);
	transform: translateY(4px)
}
.toggled button.menu-toggle:after,
.toggled button.menu-toggle:before {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg)
}
.toggled button.menu-toggle:after {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg)
}
.toggled button.menu-toggle span:before {
	opacity: 0
}
.primary-navigation {
	display: none
}
.main-navigation:after,
.main-navigation:before {
	content: "";
	display: table
}
.main-navigation:after {
	clear: both
}
.main-navigation div.menu {
	display: none
}
.main-navigation div.menu:last-child {
	display: block
}
.main-navigation .menu {
	clear: both
}
.handheld-navigation,
.main-navigation div.menu>ul:not(.nav-menu),
.nav-menu {
	overflow: hidden;
	max-height: 0;
	-webkit-transition: all, ease, .8s;
	transition: all, ease, .8s
}

.handheld-navigation {
	clear: both
}
.handheld-navigation ul {
	margin: 0
}
.handheld-navigation ul.menu li {
	position: relative
}
.handheld-navigation ul.menu li button:after {
	-webkit-transition: all, ease, .9s;
	transition: all, ease, .9s
}
.handheld-navigation ul.menu li button.toggled-on:after {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg)
}
.handheld-navigation ul.menu .sub-menu {
	visibility: hidden;
	opacity: 0;
	max-height: 0;
	-webkit-transition: all, ease, .9s;
	transition: all, ease, .9s
}
.handheld-navigation ul.menu .sub-menu.toggled {
	visibility: visible;
	max-height: 9999px;
	opacity: 1
}
.handheld-navigation .dropdown-toggle {
	background: rgba(0, 0, 0, 0);
	position: absolute;
	top: 0;
	right: 0;
	display: block
}
.main-navigation.toggled .handheld-navigation,
.main-navigation.toggled .menu>ul:not(.nav-menu),
.main-navigation.toggled ul[aria-expanded=true] {
	max-height: 9999px
}
.main-navigation ul {
	margin-left: 0;
	list-style: none;
	margin-bottom: 0
}
.main-navigation ul ul {
	display: block;
	margin-left: 1.41575em
}
.main-navigation ul li a {
	padding: .875em 0;
	display: block
}
.main-navigation ul li a:hover {
	color: #e6e6e6
}
@media (min-width: 768px) {
	.site-header {
		padding-top: 2.617924em;
		padding-bottom: 0
	}
	.woocommerce-active .site-header .main-navigation {
		width: 73.9130434783%;
		float: left;
		margin-right: 4.347826087%;
		clear: both
	}
	.woocommerce-active .site-header .site-header-cart {
		width: 21.7391304348%;
		float: right;
		margin-right: 0;
		margin-bottom: 0
	}
	.wprealizer-secondary-navigation .site-header .site-branding {
		width: 39.1304347826%;
		float: left;
		margin-right: 4.347826087%
	}
	.wprealizer-secondary-navigation .site-header .secondary-navigation {
		width: 56.5217391304%;
		float: right;
		margin-right: 0
	}
	.wprealizer-secondary-navigation.woocommerce-active .site-header .site-branding {
		width: 21.7391304348%;
		float: left;
		margin-right: 4.347826087%
	}
	.wprealizer-secondary-navigation.woocommerce-active .site-header .secondary-navigation {
		width: 47.8260869565%;
		float: left;
		margin-right: 4.347826087%
	}
	.site-branding .site-description {
		margin-bottom: 0;
		display: block
	}
	.custom-logo-link,
	.site-branding,
	.site-header-cart,
	.site-logo-anchor,
	.site-logo-link,
	.site-search {
		margin-bottom: 1.41575em
	}
	.site-header .subscribe-and-connect-connect {
		float: right;
		margin-bottom: 1em
	}
	.site-header .subscribe-and-connect-connect .icons {
		list-style: none;
		margin: 0
	}
	.site-header .subscribe-and-connect-connect .icons a {
		font-size: 1em!important
	}
	.site-header .subscribe-and-connect-connect .icons li {
		margin: 0 0 0 .5407911001em!important;
		display: inline-block
	}

	.handheld-navigation,
	.main-navigation.toggled .handheld-navigation,
	.main-navigation.toggled div.menu,
	.menu-toggle {
		display: none
	}
	.primary-navigation {
		display: block
	}
	.main-navigation,
	.secondary-navigation {
		clear: both;
		display: block;
		width: 100%
	}
	.main-navigation ul,
	.secondary-navigation ul {
		list-style: none;
		margin: 0;
		padding-left: 0;
		display: block
	}
	.main-navigation ul li,
	.secondary-navigation ul li {
		position: relative;
		display: inline-block;
		text-align: left
	}
	.main-navigation ul li a,
	.secondary-navigation ul li a {
		display: block
	}
	.main-navigation ul li a:before,
	.secondary-navigation ul li a:before {
		display: none
	}
	.main-navigation ul li.focus>ul,
	.main-navigation ul li:hover>ul,
	.secondary-navigation ul li.focus>ul,
	.secondary-navigation ul li:hover>ul {
		left: 0;
		display: block
	}
	.main-navigation ul li.focus>ul li>ul,
	.main-navigation ul li:hover>ul li>ul,
	.secondary-navigation ul li.focus>ul li>ul,
	.secondary-navigation ul li:hover>ul li>ul {
		left: -9999px
	}
	.main-navigation ul li.focus>ul li>ul.sub-menu--is-touch-device,
	.main-navigation ul li:hover>ul li>ul.sub-menu--is-touch-device,
	.secondary-navigation ul li.focus>ul li>ul.sub-menu--is-touch-device,
	.secondary-navigation ul li:hover>ul li>ul.sub-menu--is-touch-device {
		display: none;
		left: 0
	}
	.main-navigation ul li.focus>ul li.focus>ul,
	.main-navigation ul li.focus>ul li:hover>ul,
	.main-navigation ul li:hover>ul li.focus>ul,
	.main-navigation ul li:hover>ul li:hover>ul,
	.secondary-navigation ul li.focus>ul li.focus>ul,
	.secondary-navigation ul li.focus>ul li:hover>ul,
	.secondary-navigation ul li:hover>ul li.focus>ul,
	.secondary-navigation ul li:hover>ul li:hover>ul {
		left: 100%;
		top: 0;
		display: block
	}
	.main-navigation ul ul,
	.secondary-navigation ul ul {
		float: left;
		position: absolute;
		top: 100%;
		z-index: 99999;
		left: -9999px
	}
	.main-navigation ul ul.sub-menu--is-touch-device,
	.secondary-navigation ul ul.sub-menu--is-touch-device {
		display: none;
		left: 0
	}
	.main-navigation ul ul li,
	.secondary-navigation ul ul li {
		display: block
	}
	.main-navigation ul ul li a,
	.secondary-navigation ul ul li a {
		width: 200px
	}
	.wprealizer-primary-navigation {
		clear: both
	}
	.wprealizer-primary-navigation:after,
	.wprealizer-primary-navigation:before {
		content: "";
		display: table
	}
	.wprealizer-primary-navigation:after {
		clear: both
	}
	.main-navigation div.menu {
		display: block
	}
	.main-navigation ul.menu,
	.main-navigation ul.nav-menu {
		max-height: none;
		overflow: visible;
		margin-left: -1em;
		-webkit-transition: none;
		transition: none
	}
	.main-navigation ul.menu>li>a,
	.main-navigation ul.nav-menu>li>a {
		padding: 1.618em 1em
	}
	.main-navigation ul.menu>li.menu-item-has-children:hover:after,
	.main-navigation ul.menu>li.page_item_has_children:hover:after,
	.main-navigation ul.nav-menu>li.menu-item-has-children:hover:after,
	.main-navigation ul.nav-menu>li.page_item_has_children:hover:after {
		display: block
	}
	.main-navigation ul.menu ul,
	.main-navigation ul.nav-menu ul {
		margin-left: 0
	}
	.main-navigation ul.menu ul li a,
	.main-navigation ul.nav-menu ul li a {
		padding: .875em 1.41575em;
		font-weight: 400;
		font-size: .875em
	}
	.main-navigation ul.menu ul li:last-child,
	.main-navigation ul.nav-menu ul li:last-child {
		border-bottom: 0
	}
	.main-navigation ul.menu ul ul,
	.main-navigation ul.nav-menu ul ul {
		margin-left: 0;
		box-shadow: none
	}
	.main-navigation ul.menu ul a:hover,
	.main-navigation ul.menu ul li.focus,
	.main-navigation ul.menu ul li:hover>a,
	.main-navigation ul.nav-menu ul a:hover,
	.main-navigation ul.nav-menu ul li.focus,
	.main-navigation ul.nav-menu ul li:hover>a {
		background-color: rgba(0, 0, 0, .025)
	}
	.main-navigation a {
		padding: 0 1em 2.2906835em
	}
	.secondary-navigation {
		margin: 0 0 1.618em;
		width: auto;
		clear: none;
		line-height: 1
	}
	.secondary-navigation .menu {
		font-size: .875em;
		width: auto;
		float: right
	}
	.secondary-navigation .menu>li:hover>a {
		text-decoration: none
	}
	.secondary-navigation .menu ul a {
		padding: .326em .875em;
		background: rgba(0, 0, 0, .05)
	}
	.secondary-navigation .menu ul li:first-child a {
		padding-top: 1em
	}
	.secondary-navigation .menu ul li:last-child a {
		padding-bottom: 1em
	}
	.secondary-navigation .menu ul ul {
		margin-top: -.6180469716em
	}
	.secondary-navigation .menu a {
		padding: 1em .875em;
		color: #737781;
		font-weight: 400
	}
	.secondary-navigation .menu a:hover {
		text-decoration: none
	}
}
@media (max-width: 66.4989378333em) {
	.col-full {
		margin-left: 2.617924em;
		margin-right: 2.617924em;
		padding: 0
	}
}
@media (max-width: 568px) {
	.col-full {
		margin-left: 1.41575em;
		margin-right: 1.41575em;
		padding: 0
	}
}